# SPDX-FileCopyrightText: 2026 Aidan Nagorcka-Smith
#
# SPDX-License-Identifier: MIT

# keep-sorted start
*.egg-info/
*.pyc
.coverage
.coverage.*
.eggs/
.idea
.venv*/
__pycache__/
build/
coverage.xml
dist/
htmlcov/
mutants/
# keep-sorted end
